**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
ui/.gitignore
local-packages/
dist/
publish/
nupkg/
docs/
tests/
plugins/
templates/
deploy/
scripts/
assets/
*.md
*.slnx
*.DotSettings*
Arrr.slnx
nfpm.yaml
